<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ownerlogin</title>
  </head>
  <body>
    <form action="/owner/ownercred" method="post">
      <input type="email" name="email" placeholder="mail" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" />
    </form>
  </body>
</html>
